@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark*));

@theme {
  --color-background: red;
}
.dark {
  --color-background: blue;
}
@layer base {
  div {
    @apply rounded-lg;
  }
}
@layer components {
  .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
}
@layer utilities {
  .border {
    @apply border-8 border-amber-400;
  }
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
